.pageDiv{
    /* display: flex; */
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
    padding: 10px;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.checkDisplay{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 21px;
    margin: 5px 5px 5px 40px;
}

.sectionHeadline{
    text-align: center;
}
.sectionTitle{
    font-size: 23px;
}

.insurancePartners{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    max-width: 400px;
}

.buyerSelection{
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 100px;
}

.buyerSelection p {
    margin: 0;
}
