

.card{
    color: black;
    border: 1px solid black;

    height: 350px;
    width: 250px;
    list-style: none;
    text-align: center;
    margin:76px;
    display:in;
    flex-direction: column;
    align-items: stretch;
    transition: margin-top 400ms;
    align-self: center;
    position: relative;
}


.status{
    position: absolute;
    top: 248px;
    right: 0;
    width: 248px;
    height: 100px;
  border: 1px solid black;

}


h3{
   margin-right: 78px
}

.radial{
    margin-right: 10px;
}

table,td,tr,tbody,th{
    border-collapse: collapse;
    border: 1px solid black;
}

.addvendor{
    margin: 20px;
    background-color: white;
    color: black;
    min-height: 35px;
    min-width: 100px;
    outline:1px solid black;
    cursor: pointer;
}